/* Navbar CSS */
.navbar {
  background-color: rgba(28, 26, 26, 0.8); /* Black background with 80% opacity */
  /* padding: 10px; */
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Darker background when scrolling */
}

.navbar .navbar-nav .nav-link {
  color: white !important;
}

.navbar .navbar-brand {
  color: white !important;
  padding-right: 20px; /* Add right padding to logo */
}

.navbar .navbar-toggler {
  border: none; /* Remove border for cleaner look */
}

.navbar-toggler-icon {
  background-color: transparent; /* Set background to transparent */
}

/* Use custom icons instead of default */
.navbar-toggler-icon img {
  width: 20px; /* Adjust icon size */
  height: 20px; /* Adjust icon size */
}

/* Dropdown menu styles */
.nav-item .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6); /* Darker translucent background */
}

/* Show dropdown on hover */
.nav-item:hover .dropdown-menu {
  display: block; /* Ensure dropdown is shown on hover */
}

/* Ensure dropdown items have proper styling */
.dropdown-item {
  color: white; /* Ensures the text is white */
}

.dropdown-item:hover {
  background-color: rgb(20, 19, 19); /* Change background on hover */
  color: white;
}

/* Ensure logo adjusts correctly */
.logo {
  max-height: 40px; /* Adjust this value for a smaller logo */
  width: auto; 
  padding-right: 15px;/* Ensure the width adjusts with the height */
}
