/* Navbar CSS */
.navbar {
    background-color: rgba(28, 26, 26, 0.8); /* Black background with 50% opacity */
    /* transition: background-color 0.3s ease; */
  }
  
  .navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8); /* Darker background when scrolling */
  }
  
  .navbar .navbar-nav .nav-link {
    color: white !important;
  }
  
  .navbar .navbar-brand {
    color: white !important;
  }

  /* Ensure dropdown menu is hidden initially */
/* Dropdown menu styles */
.nav-item .dropdown-menu {
  background-color: black; /* Set dropdown background to black */
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Dropdown item styles */
.nav-item .dropdown-item {
  color: white; /* Make dropdown items text white */
}

.nav-item .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Change background on hover */
  color: white;
}

/* Remove default 'preselected' active state */
.nav-item .dropdown-item:focus,
.nav-item .dropdown-item.active {
  background-color: transparent; /* No background for active or focused items */
  color: white; /* Keep the text color white */
}

/* Show dropdown on hover */
.nav-item:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}
