/* Navbar CSS */
.navbar {
  background-color: rgba(28, 26, 26, 0.9); /* Black background with 80% opacity */
  /* padding: 10px; */
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Darker background when scrolling */
}

.navbar .navbar-nav .nav-link {
  color: white !important;
}

.navbar .navbar-brand {
  color: white !important;
  padding-right: 20px; /* Add right padding to logo */
}

.navbar .navbar-toggler {
  border: none; /* Remove border for cleaner look */
}

.navbar-toggler-icon {
  display: none;
}

/* Use custom icons instead of default */
/* .navbar-toggler-icon img {
  width: 30px; 
  height: 30px; 
}  */

/* Dropdown menu styles */
.nav-item .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.8); /* Darker translucent background */
}

/* Show dropdown on hover */
.nav-item:hover .dropdown-menu {
  display: block; /* Ensure dropdown is shown on hover */
}
.nav-item:hover .hover-effect{
  background-color: rgb(14, 14, 14); 
}

/* Ensure dropdown items have proper styling */
.dropdown-item {
  color: white; /* Ensures the text is white */
}

.dropdown-item:hover {
  background-color: rgb(14, 14, 14); /* Change background on hover */
  color: white;
}

/* Ensure logo adjusts correctly */
.logo {
  max-height: 40px; /* Adjust this value for a smaller logo */
  width: auto; 
  padding-right: 15px;/* Ensure the width adjusts with the height */
}
.navbar-toggler {
  border: none; /* Remove border for a cleaner look */
}

.custom-icon {
  background-color: white; /* White background for the icon */
  border-radius: 5px; /* Optional: Rounded corners */
  padding: 5px; /* Optional: Padding for a better look */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 32px; /* Ensures enough height for the icon */
  width: 32px; /* Ensures enough width for the icon */
  transition: background-color 0.3s; /* Smooth transition for hover effects */
}

.custom-icon img {
  max-width: 40px; /* Set a max width for the icons */
  max-height: 40px; /* Set a max height for the icons */
}

@media (max-width: 768px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.9); /* Darker background for mobile */
  }

  .navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.9); /* Even darker when scrolling on mobile */
  }
}