.mission-section {
    background-color: #f8f9fa; /* Light background color */
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .mission-section h2 {
    color: #333;
  }
  .custom-width {
    max-width: 800px; /* Make the container smaller */
    width: 100%; /* Ensures responsiveness */
    margin: 0 auto; /* Center the container */
  }
  