.hero-section {
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .hero-image-container {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .hero-image {
    height: 110%;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    transition: transform 0.4s ease-in-out; /* Smooth scaling transition */
  }
  
  /* Hover effect to scale the image */
  .hero-image-container:hover .hero-image {
    transform: scale(1.05); /* Slight zoom on hover */
  }
  
  .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1, p {
    z-index: 1;
  }
  
  .btn {
    z-index: 1;
    background-color: rgba(19, 35, 220, 0.8)
  }

  @media (max-width: 768px) {
    .hero-image {
      background-size: cover; /* Makes sure the image fits smaller screens */
      background-position: 20%;
      height: 100vh;
      filter: brightness(0.5);
    transition: transform 0.4s ease-in-out; /* Adjust height for mobile */
    }
  
    .hero-section .display-4 {
      font-size: 1.8rem; /* Adjust the font size for smaller screens */
    }
  
    .hero-section .lead {
      font-size: 1.2rem;
    }
  
    .hero-section .btn {
      font-size: 1rem; /* Adjust button size for smaller screens */
    }
  }
