.contact-hero-section {
    height: 90vh;
    position: relative;
    overflow: hidden;
  }
  
  .contact-hero-image-container {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .contact-hero-image {
    height: 90%;
    width: 100%;
    background-size: cover;
    background-position:center ;
    transition: none;
    /* filter: brightness(0.5); */
    /* transition: transform 0.4s ease-in-out;  */
  }
  

  .contact-hero-image-container:hover .hero-image {
    transform: none; 
  }
  
  .contact-hero-content {
    position: absolute;
    height: 70%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1, p {
    z-index: 1;
  }
  
  @media (max-width: 768px) {
    .contact-hero-image {
      background-position: 33%; /* Focus on top for small screens */
      background-size: cover;
      height: 80vh; /* Adjust height for smaller screens */
    }
  
    .contact-hero-section h1,
    .contact-hero-section h2 {
      font-size: 1.5rem; /* Smaller font size for mobile */
    }
  }