.partner-hero-section {
    height: 80vh;
    position: relative;
    overflow: hidden;
  }
  
  .partner-hero-image-container {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .partner-hero-image {
    height: 80%;
    width: 100%;
    background-size: cover;
    background-position: top;
    transition: none;
    /* filter: brightness(0.5); */
    /* transition: transform 0.4s ease-in-out;  */
  }
  

  .partner-hero-image-container:hover .hero-image {
    transform: none; 
  }
  
  .partner-hero-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1, p {
    z-index: 1;
  }
  
  .advert-hero-title {
    /* Add a semi-transparent dark background */
    background-color: rgba(0, 0, 0, 0.6); /* 60% transparency */
    padding: 20px;
    display: inline-block;
    
    /* Add text shadow to further enhance visibility */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    
    /* Optional: Make the font even bolder */
    font-weight: 900;
  }