.advertising-formats {
    padding: 30px 0;
}

/* .advertising-formats .icon {
    margin-bottom: 10px;
} */

.advertising-formats h4 {
    margin-top: 10px;
    font-weight: 600;
}

.advertising-formats .taxi_top_img {
    max-width: 280px; /* Adjust the size based on your icons */
    height: 200px;
}
.around-car-img{
    /* padding-left: 50px; */
    height: 500px;
    width: 570px;
    border-radius: 5px;
    object-fit: cover;
}
/* .experiential_img {
    max-width: 450px; 
    height: 500px;
    margin-right: 20px;
} */