.advertising-formats {
    padding: 30px 0;
}

/* .advertising-formats .icon {
    margin-bottom: 10px;
} */

.advertising-formats h4 {
    margin-top: 10px;
    font-weight: 600;
}

.advertising-formats .taxi_top_img {
    max-width: 320px; /* Set the maximum width */
    height: 200px; /* Set the height */
    object-fit: contain; /* Ensures the entire image fits within the box */
    object-position: center; /* Optional: centers the image within the box */
    display: block; /* Ensures there are no extra spaces around the image */
    margin: 0 auto; /* Centers the image horizontally */
}
.around-car-img{
    /* padding-left: 50px; */
    height: 500px;
    width: 570px;
    border-radius: 5px;
    object-fit: cover;
}
/* .experiential_img {
    max-width: 450px; 
    height: 500px;
    margin-right: 20px;
} */

